NODE_ENV=development
API_PORT=3001
NEXT_PUBLIC_API_URL=http://localhost:3001

DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=nazr
DB_USERNAME=root
DB_PASSWORD=tehran1500@$@
DB_SYNCHRONIZE=true
DB_LOGGING=false
